<a href="https://colab.research.google.com/github/OmarSanchez21/Alura/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()
tienda2.head()
tienda3.head()
tienda4.head()
pd.options.display.float_format = '{:.2f}'.format
tienda

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.00,6900.00,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.61,-74.08
1,Mesa de comedor,Muebles,192300.00,8400.00,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25,-75.56
2,Juego de mesa,Juguetes,209600.00,15900.00,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.40,-75.51
3,Microondas,Electrodomésticos,757500.00,41000.00,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.44,-76.52
4,Silla de oficina,Muebles,335200.00,20200.00,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25,-75.56
...,...,...,...,...,...,...,...,...,...,...,...,...
2354,Iphone 15,Electrónicos,1284400.00,66600.00,15/11/2021,Izabela de León,Medellín,1,Nequi,1,6.25,-75.56
2355,Impresora,Electrónicos,282800.00,15300.00,18/03/2023,Lucas Olivera,Bogotá,5,Nequi,1,4.61,-74.08
2356,Juego de mesa,Juguetes,122900.00,7200.00,06/07/2021,Lucas Olivera,Cali,5,Tarjeta de crédito,4,3.44,-76.52
2357,Cama box,Muebles,691300.00,35000.00,02/05/2022,Pedro Gomez,Pasto,1,Tarjeta de crédito,2,1.21,-77.28
2358,Smartwatch,Electrónicos,195000.00,8600.00,18/06/2022,Felipe Santos,Cali,4,Tarjeta de crédito,1,3.44,-76.52

#1. Análisis de facturación

In [ ]:
ingreso_tienda1 = tienda["Precio"].sum()
ingreso_tienda2 = tienda2["Precio"].sum()
ingreso_tienda3 = tienda3["Precio"].sum()
ingreso_tienda4 = tienda4["Precio"].sum()

ingresos = pd.DataFrame({
    "Tienda": ["Tienda 1", "Tienda 2", "Tienda 3", "Tienda 4"],
    "Ingresos": [
        ingreso_tienda1,
        ingreso_tienda2,
        ingreso_tienda3,
        ingreso_tienda4
    ]
})
ingresos

     Tienda      Ingresos
0  Tienda 1 1150880400.00
1  Tienda 2 1116343500.00
2  Tienda 3 1098019600.00
3  Tienda 4 1038375700.00

# 2. Ventas por categoría

In [ ]:
agrupacion = tienda.groupby("Categoría del Producto").size().sort_values(ascending=False)
agrupacion

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
dtype: int64

In [ ]:
agrupacion2 = tienda2.groupby("Categoría del Producto").size().sort_values(ascending=False)
agrupacion2

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
dtype: int64

In [ ]:
agrupacion3 = tienda3.groupby("Categoría del Producto").size().sort_values(ascending=False)
agrupacion3

Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Artículos para el hogar    177
Instrumentos musicales     177
dtype: int64

In [ ]:
agrupacion4 = tienda4.groupby("Categoría del Producto").size().sort_values(ascending=False)
agrupacion4

Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
dtype: int64

# 3. Calificación promedio de la tienda

In [ ]:
promedio_tienda1 = tienda["Calificación"].mean()
promedio_tienda2 = tienda2["Calificación"].mean()
promedio_tienda3 = tienda3["Calificación"].mean()
promedio_tienda4 = tienda4["Calificación"].mean()

promedios = pd.DataFrame({
    "Tienda": ["Tienda 1", "Tienda 2", "Tienda 3", "Tienda 4"],
    "Calificación Promedio": [
        promedio_tienda1,
        promedio_tienda2,
        promedio_tienda3,
        promedio_tienda4
    ]
})

promedios

     Tienda  Calificación Promedio
0  Tienda 1                   3.98
1  Tienda 2                   4.04
2  Tienda 3                   4.05
3  Tienda 4                   4.00

# 4. Productos más y menos vendidos

In [ ]:
max_vendido1 = tienda["Producto"].value_counts().idxmax()
max_vendido1
menos_vendido1 = tienda["Producto"].value_counts().idxmin()
menos_vendido1

max_vendido2 = tienda2["Producto"].value_counts().idxmax()
max_vendido2
menos_vendido2 = tienda2["Producto"].value_counts().idxmin()
menos_vendido2

max_vendido3 = tienda3["Producto"].value_counts().idxmax()
max_vendido3
menos_vendido3 = tienda3["Producto"].value_counts().idxmin()
menos_vendido3

max_vendido4 = tienda4["Producto"].value_counts().idxmax()
max_vendido4
menos_vendido4 = tienda4["Producto"].value_counts().idxmin()
menos_vendido4

'Guitarra eléctrica'

In [ ]:
max_df = pd.DataFrame({
    "Tienda": ["Tienda 1", "Tienda 2", "Tienda 3", "Tienda 4"],
    "Producto más vendido": [
        max_vendido1,
        max_vendido2,
        max_vendido3,
        max_vendido4
    ]})
max_df

     Tienda       Producto más vendido
0  Tienda 1                 Microondas
1  Tienda 2  Iniciando en programación
2  Tienda 3              Kit de bancas
3  Tienda 4                   Cama box

In [ ]:
min_df = pd.DataFrame({
    "Tienda": ["Tienda 1", "Tienda 2", "Tienda 3", "Tienda 4"],
    "Producto menos vendido": [
        menos_vendido1,
        menos_vendido2,
        menos_vendido3,
        menos_vendido4
    ]})
min_df

     Tienda     Producto menos vendido
0  Tienda 1  Auriculares con micrófono
1  Tienda 2              Juego de mesa
2  Tienda 3    Bloques de construcción
3  Tienda 4         Guitarra eléctrica

# 5. Envío promedio por tienda

In [10]:
envio1 = tienda["Costo de envío"].mean()
envio2 = tienda2["Costo de envío"].mean()
envio3 = tienda3["Costo de envío"].mean()
envio4 = tienda4["Costo de envío"].mean()

envio1, envio2, envio3, envio4

(np.float64(26018.60958033065),
 np.float64(25216.235693090293),
 np.float64(24805.680373039424),
 np.float64(23459.457167090754))

In [12]:
envios_promedio = pd.DataFrame({
    "Tienda": ["Tienda 1", "Tienda 2", "Tienda 3", "Tienda 4"],
    "Costo de Envio Promedio":[
        envio1,
        envio2,
        envio3,
        envio4
    ]
})

envios_promedio

     Tienda  Costo de Envio Promedio
0  Tienda 1                 26018.61
1  Tienda 2                 25216.24
2  Tienda 3                 24805.68
3  Tienda 4                 23459.46